<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{- site.description | escape -}}</p>
      </div>
      <div class="footer-col footer-col-3">
        <table class="social-table">
          <tr>
            <td class="emoji-col">✉️</td>
            <td class="mono">mail</td>
            <td class="mono"><a href="mailto:kaspar.jpg@proton.me">kaspar.jpg@proton.me</a></td>
          </tr>
          <tr>
            <td class="emoji-col">🏠</td>
            <td class="mono">webz</td>
            <td class="mono"><a href="https://www.itskaspar.com">www.itskaspar.com</a></td>
          </tr>
          <tr>
            <td class="emoji-col">📰</td>
            <td class="mono">fedi</td>
            <td class="mono"><a href="https://tldr.nettime.org/@kaspar">@tldr.nettime.org@kaspar</a></td>
          </tr>
          <tr>
            <td class="emoji-col">📷</td>
            <td class="mono">inst</td>
            <td class="mono"><a href="https://www.instagram.com/kaspar.jpg">@kaspar.jpg</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</footer>
