<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{- site.description | escape -}}</p>
      </div>
      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li>✉️ <span class="mono">mail</span> <a href="mailto:kaspar.jpg@proton.me">kaspar.jpg@proton.me</a></li>
          <li>🏠 <span class="mono">webz</span> <a href="https://www.itskaspar.com">www.itskaspar.com</a></li>
          <li>📰 <span class="mono">fedi</span> <a href="https://tldr.nettime.org/@kaspar">@tldr.nettime.org@kaspar</a></li>
          <li>📷 <span class="mono">inst</span> <a href="https://www.instagram.com/kaspar.jpg">@kaspar.jpg</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
