---
---
@import "minima";

/* Your custom styles go here */
body {
    font-family: Georgia, serif;
}

.site-title {
    font-size: 3em;
}
.post-title {
    color: #53d28f;
}

.mono {
  font-family: 'Courier New', monospace;
  font-size: 0.9em;
}
